<p>
  requests works!
</p>


  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    
  </div>

  

<div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="reimb_Type_Id">Preference</label>
      <select class="custom-select mr-sm-2" id="reimb_Type_Id" [(ngModel)] = 'reimb_Type_Id'>
        <option selected>Choose...</option>
        <option value="1">Lodging</option>
        <option value="2">Travel</option>
        <option value="3">Food</option>
        <option value="3">Other</option>

      </select>
  

<textarea id= 'reimb_Description' [(ngModel)]='reimb_Description'>description</textarea>

  


<div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <input type="submit" [disabled]="!formValidation()" (click)="submit()">
