.side-menu  {
    color: #fff;
    font-size: 30px;
    margin-left: 80%;
    up: 100px;
    margin-top: 60px;
    padding-right: 50px;
    box-shadow: inset 0 0 10px black;
    width: 250px;
    background-image:
    linear-gradient(
  
      to right,
      rgb(000,000,176),
      rgb(000,000,128),
      rgb(000,000,080),
      rgb(000,000,032)
      );
      border: 4px solid white;
      border-radius: 4px;
      cursor:none;
      position: fixed;    
}
    #right{
      margin: 0 7%;
    }
    li:hover:before{
     content: url(https://vignette.wikia.nocookie.net/finalfantasy/images/8/8e/FF7Cursor.png); 
      display: inline;
      cursor:none;
    }
    ul{
      padding:0px;
    }

    .col-md-2 side-menu{
      flex-grow: 0;
    }

    
 